**
!Dockerfile
!LICENSE
!SPEC.md
!SECURITY.md
!native/
!native/CMakeLists.txt
!native/README.md
!native/include/
!native/include/**
!native/src/
!native/src/**
!native/vendor/
!native/vendor/**
!native/tests/
!native/tests/*.cpp
!native/docs/
!native/docs/*.md
!native/examples/
!native/examples/*.vora
!native/quickstart-fast.vora
!native/review.vora
